.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/.vscode-test.*
out/**
.husky
extv1.js
rollup.config.js
.github/**
commitlint.config.js
.prettierignore
*.html
extension.js
webview-*.js
webview-*.css
webview-*.ejs
header.png
