.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/.vscode-test.*
out/**
.husky
rollup.config.js
.github/**
commitlint.config.js
.prettierignore
*.html
src/**
index.js
spentbk.png
.eslintignore